body {
  margin: 0;
}

.otherstuff {
  width: 100%;
}

.o-animation {
  position: relative;
  width: 100%;
}

/* height set in resize.js */

.o-animation__scroller {
    position: absolute;
    left: 50%;
    bottom: 25px;
    z-index: 999;
    opacity: 0;
    -webkit-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out
  }

.o-animation__scroller.-active {
  opacity: 1;
}

.o-animation__trigger, .o-animation__scenes {
    width: 100%;
  }

.o-animation__trigger {
    position: absolute;
    top: 50%;
    left: 0;
  }

.o-animation__scenes {
    position: relative;
  }

.o-animation__scene {
    position: absolute;
    top: 0;
    left: 0;
  }

.a-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

@media (max-width: 599px) {

  .a-image {
    opacity: 1;
  }
}

#j-scene0Image {
  background-image: url(../f77e8a6b6126d2c8eb26b3533acadaeb.jpg);
}

#j-scene1Image {
  background-image: url(../4fe18b1bb470a167012e8dd615d02c33.jpg);
}

#j-scene2Image {
  background-image: url(../e7d6ca663d62e5da8beee00e8ed39813.jpg);
}

#j-scene3Image {
  background-image: url(../02a702aa096a232f7fcde66b33af06a6.jpg);
}

#j-scene4Image {
  background-image: url(../fc431deb0344c0fe86aaaf890ffc07b8.jpg);
}

#j-scene5Image {
  background-image: url(../58b17cd8adf4657723ffdac633db675e.jpg);
}

.m-scene {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height set in resize.js */
  opacity: 1;
}

@media (max-width: 599px) {

  .m-scene {
    position: relative;
  }
}

.m-scene.-hidden {
  opacity: 0;
}

.m-scene > * {
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 599px) {

  .m-scene__image {
    position: relative;
  }
}

.m-scene__video {}

.a-mouse {
  width: 3px;
  padding: 5px 10px;
  height: 30px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.a-mouse__scroll {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    -webkit-animation-name: scroll;
            animation-name: scroll;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-timing-function: cubic-bezier(.15,.41,.69,.94);
            animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }

@-webkit-keyframes scroll {
  0% { opacity: 0; }
  10% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
  100% { -webkit-transform: translateY(15px); transform: translateY(15px); opacity: 0;}
}

@keyframes scroll {
  0% { opacity: 0; }
  10% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
  100% { -webkit-transform: translateY(15px); transform: translateY(15px); opacity: 0;}
}
