@custom-media --phone (max-width: 599px);
@custom-media --tablet (min-width: 600px);
@custom-media --desktop (min-width: 1200px);

body {
  margin: 0;
}

.otherstuff {
  width: 100%;
}

.o-animation {
  position: relative;
  width: 100%;
  /* height set in resize.js */

  &__scroller {
    position: absolute;
    left: 50%;
    bottom: 25px;
    z-index: 999;
    opacity: 0;
    transition: opacity 1s ease-in-out;

    &.-active {
      opacity: 1;
    }
  }

  &__trigger, &__scenes {
    width: 100%;
  }

  &__trigger {
    position: absolute;
    top: 50%;
    left: 0;
  }

  &__scenes {
    position: relative;
  }

  &__scene {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.a-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;

  @media (--phone) {
    opacity: 1;
  }
}

#j-scene0Image {
  background-image: url('./images/scene0.jpg');
}

#j-scene1Image {
  background-image: url('./images/scene1.jpg');
}

#j-scene2Image {
  background-image: url('./images/scene2.jpg');
}

#j-scene3Image {
  background-image: url('./images/scene3.jpg');
}

#j-scene4Image {
  background-image: url('./images/scene4.jpg');
}

#j-scene5Image {
  background-image: url('./images/scene5.jpg');
}

.m-scene {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height set in resize.js */
  opacity: 1;

  @media (--phone) {
    position: relative;
  }

  &.-hidden {
    opacity: 0;
  }

  & > * {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__image {
    @media (--phone) {
      position: relative;
    }
  }

  &__video {

  }
}

.a-mouse {
  width: 3px;
  padding: 5px 10px;
  height: 30px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;

  &__scroll {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }
}

@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}
