:root {
  --width: 960px;
}   
    
body, html {
  max-width: var(--width);
  margin: 0 auto;
  color: white;
  font-family: 'Lato', sans-serif;
}

.content {
  width: 100%;
  height: 400px;
  background: lightgray;
  position: relative;
  z-index: 1;
}


.container {
  position: relative;
  width: var(--width);
  margin: 0 auto;
}

.headers {
  position: absolute;
  bottom: 10px;
  left: 15px;
  max-width: var(--width);
  margin: 0 auto;
  z-index: 1;
}

.header {
  color: gray;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0 0 10px;
  text-shadow: 2px 2px 5px black;
  text-transform: uppercase;
  opacity: 0;
  transition: color 0.25s ease-in-out, font-size 0.25s ease-in-out;
}
.header.-active {
  font-size: 2rem;
  color: white;
}

#animation {
  position: relative;
  // width: 100vw;
  // margin-left: -50vw;
  // left: 50%;
  // height: 640px;
  margin-bottom: -3px; // offset trigger offset (prevent it from jiggling)
  overflow-y: scroll;
  overflow-x: hidden;
}

.panels {
  position: relative;
  width: var(--width);
  margin: 0 auto;
}

.panel {
  position: relative;
}
.scene {
  position: relative;
  width: 100%;
  height: 640px;
  background-size: cover;
}

.view {
  position: absolute;
  width: 960px;
  height: 640px;
  // opacity: 0;
}

.trigger {
  position: absolute;
  top: 50%;
  left: 0;
}

.canvas {
  position: absolute;
  z-index: 1;
}

.infographic {
  position: absolute;
  left: 458px;
  top: 58px;
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.title {
  position: absolute;
  top: 215px;
  left: 70px;
}

.info {
  position: absolute;
  top: 255px;
  left: 113px;
  font-size: 0.8rem;
  line-height: 20px;
  text-align: right;
}


.odometer {
  margin-top: -4px;
}

.graph {
  fill: #ffffff;
}

.infographic.-active {
  opacity: 1;
}

.plus, .bulletText, .bulletCircle {
  opacity: 0;
}